<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar text-center>
    <ion-title>分类</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div>
    <ion-searchbar ionCancel class="yun-home-head" (click)="gotoSearch()" (ionInput)="cancelInput()" [(ngModel)]="categoryInput"></ion-searchbar>
  </div>

  <!-- 分类主体部分 -->
  <div>

    <ion-row>
      <ion-col col-3>
        <div id="categroyLeft" class="yun-catgory-left">
          <div *ngFor="let item of items" (click)="showCategory(item.id)" id="{{item.id}}" class="category-item">
            <span>{{item.name}}</span>
          </div>
        </div>
      </ion-col>

      <ion-col col-9>
        <div>
          <div class="swiper-container" id="categorySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide yun-category-right" *ngFor="let Lv2Categorys of Lv2CategoryList">
                <p *ngFor="let Lv2Category of Lv2Categorys">{{Lv2Category.name}}</p>
              </div>
            </div>

          </div>
        </div>
      </ion-col>
    </ion-row>

  </div>




</ion-content>
