page-home {

  .yun-home-head-icon {
    font-size: 4rem !important;
  }
  .yun-home-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .yun-module-btn-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .yun-module-btn-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    img {
      width: 50%;
    }

    span{
      margin-top: 5px;
    }
  }

}
