<!-- Generated template for the BannerComponent component -->
<div class="swiper-container" id="demo-banner" style="height: auto">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="http://placehold.it/640x320&text=banner1" alt="">
    </div>
    <div class="swiper-slide">
      <img src="http://placehold.it/640x320&text=banner2" alt="">
    </div>
    <div class="swiper-slide">
      <img src="http://placehold.it/640x320&text=banner3" alt="">
    </div>
    <div class="swiper-slide">
      <img src="http://placehold.it/640x320&text=banner4" alt="">
    </div>
    <div class="swiper-slide">
      <img src="http://placehold.it/640x320&text=banner5" alt="">
    </div>
  </div>
  <!-- 如果需要分页器 -->
  <div class="swiper-pagination"></div>
</div>
